# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea conf files
.idea
*.iml
*.ipr
*.iws
*.eml

#OS junk files
[Tt]humbs.db
*.DS_Store
/jenkins/

local.properties

out/
temp/
rat.report
